<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand ms-5">Gatito Book</a>
    <div *ngIf="user$ | async as user" class="me-5">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle me-1"></i>
        <a class="me-1">{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="">Login</a>
    </span>
  </ng-template>
</header>
